<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <div th:fragment="cars_menu">
        <div th:replace="~{mainList :: auth_menu}"></div>
        <div class="container, beside">
            <form action="/usersCars">
                <input type="submit" value="USER'S CARS" class="btn btn-default">
            </form>
        </div>
        <div class="container, beside">
            <form action="/">
                <input type="submit" value="RETURN TO MAIN" class="btn btn-default">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h3 th:text="|${car_info.model.brand.name} ${car_info.model.name} ${car_info.year} ${car_info.price} RUB|"></h3>
    <h4 th:text="|Posted ${#calendars.format(car_info.dateCreated,'dd MMMM yyyy hh:mm ')}|"></h4>
    <div class="row">
        <div class="col-md-6">
            <img th:src="'photo?car_id=' + ${car_info.id}" class="img-fluid" alt="Responsive image" width="500">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Brand: ' + ${car_info.model.brand.name}"></div>
        <div class="col-md-3" th:text="'Engine: ' + (${car_info.engine} ? ${car_info.engine.name} : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Model: ' + ${car_info.model.name}"></div>
        <div class="col-md-3" th:text="'Drive: ' + (${car_info.drive} ? ${car_info.drive.name} : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Year: ' + ${car_info.year}"></div>
        <div class="col-md-3"
             th:text="'Wheel: ' + (${car_info.rightWheel} ? 'right' : 'left')">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Mileage: ' + (${car_info.mileage} ? ${car_info.mileage} + 'km' : '')"></div>
        <div class="col-md-3" th:text="'Condition: ' + (${car_info.broken} ? '' : 'not ') + 'broken'"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Body: ' + (${car_info.body} ? ${car_info.body.name} : '')"></div>
        <div class="col-md-3" th:text="'Owners number: ' + (${car_info.ownersNum} ? ${car_info.ownersNum} : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Transmission: ' + (${car_info.transmission} ? ${car_info.transmission.name} : '')"></div>
        <div class="col-md-3" th:text="'Power: ' + (${car_info.power} ? ${car_info.power} + 'hp' : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'Volume: ' + (${car_info.volume} ? ${car_info.volume} +'L' : '')"></div>
        <div class="col-md-3" th:text="'Color: ' + (${car_info.color} ? ${car_info.color.name} : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-3" th:text="'VIN: ' + (${car_info.vin} ? ${car_info.vin} : '')"></div>
    </div>
    <div class="row">
        <div class="col-md-6" th:text="'Address: ' + (${car_info.address} ? ${car_info.address} : '')"></div>
    </div>
</div>
</body>
</html>