<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css" th:href="@{/css/style.css}" />

    <script>
        $(document).ready(
            function () {
                document.getElementsByName("login")[0].focus();
            }
        );
    </script>
</head>
<body>
<br/>
<div th:fragment="login_menu">
    <div class="container">
        <div class="container, beside">
            <form action="/">
                <input type="submit" value="RETURN TO MAIN" class="btn btn-default">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h4>
        Enter your login and password.
    </h4>
    <form class="form-horizontal" action="/signin" method="post">
        <div th:fragment="login_and_pas">
            <div class="form-group">
                <label class="control-label col-sm-1" for="login">Login:</label>
                <div class="col-sm-2">
                    <input class="form-control" name="login" id="login" placeholder="Enter login">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="pwd">Password:</label>
                <div class="col-sm-2">
                    <input type="password" class="form-control" name="password" id="pwd" placeholder="Enter password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</div>
<div th:fragment="login_footer">
    <div class="container" id="error">
        <div th:text="${error}">
        </div>
    </div>
    <div class="container" id="msg">
        <div th:text="${msg}">
        </div>
    </div>
</div>
</body>
</html>
