thead {
    font-weight: bold;
}
table {
    zoom: 80%;
}
tbody tr:hover{
    background: #ffebcd; /* Цвет фона при наведении */
    /*color: #fff; !* Цвет текста при наведении *!*/
}
#error {
    background-color: red;
    color: yellow;
    font-weight: bold
}
