<web-app>

    <!--EchoServlet-->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <!--CrudServlet-->
    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.CrudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>

    <!--UserServlet-->
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

</web-app>

