<web-app>

    <!--EchoServlet-->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <!--CrudServlet-->
    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.CrudServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>

    <!--UserServlet-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.userservlet.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>ru.job4j.userservlet.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserListController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.job4j.userservlet.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>ru.job4j.userservlet.SignOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

</web-app>

